{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create new page
{% endblock %}

{% block body %}
    <h1>Create new page</h1>
    <br>
    <p>Please provide title and content to create new page</p>

    <div class="add_form">
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}

            <input type="text" class="form-control" name="title" placeholder="Title" style="width: 80%; margin-top: 30px;">

            <textarea name="content" class="form-control" autocomplete="off" placeholder="Enter content in Markdown"
            rows="20" style="width: 80%; margin-top: 20px;"></textarea>

            <button type="submit" class="btn btn-primary mb-2" style="margin-top: 20px;">Save page</button>
        </form>
    </div>

    {% if flag == "empty" %}
        <div class="alert alert-dange" role="alert" style="width: 80%; margin-top: 10px;">
            Title and content cannot be empty. Please provide input to both fields.
        </div>
    {% endif %}

    {% if flag == "exists" %}
        <div class="alert alert-warning" role="alert" style="width: 80%; margin-top: 10px;">
            Page with this title already exists. Please chose different title and try again.
        </div>
    {% endif %}
{% endblock %}